@import './base/reset.css';
@import './base/variables.css';
@import './base/fonts.css';
@import './blocks/btns.css';
@import './blocks/title.css';
@import './blocks/header.css';
@import './blocks/headline.css';
@import './blocks/how-it-works.css';
@import './blocks/success-story.css';
@import './blocks/our-product.css';
@import './blocks/footer.css';
@import './base/media.css';

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: var(--font-size-smallest);
    color: var(--grey-color-primary);
}

.container {
    max-width: 1366px;
    margin: 0 auto;
}
