:root {
    /* Colors */
    --black-color: #000;
    --white-color: #FFF;
    --green-color-primary: #01996D;
    --green-color-secondary: #245852;
    --grey-color-primary: #292929;
    --grey-color-secondary: #424242;
    --grey-color-light: #D6D6D6;

    /* Font-size */
    --font-size-smallest: 20px;
    --font-size-small: 24px;
    --font-size-small-to-medium: 30px;
    --font-size-medium: 50px;
    --font-size-large: 65px;
    --font-size-largest: 150px;
}

