.our-product {
    padding: 120px 0 168px 0;
    min-height: 100vh;
    background-color: var(--white-color-secondary);
}

.our-product__content {
    display: flex;
    justify-content: space-around;
    gap: 86px;
}

.our-product__cards {
    position: relative;
    width: 50%;
}

.our-product__image {
    width: 90%;
    position: relative;
    left: 10%;
    height: 573px;
    border-radius: 18px;
    background: rgba(1, 153, 109, 0.2) url('/images/product_woman.png') bottom center no-repeat;
}

.our-product__card {
    width: 296px;
    position: absolute;
    bottom: -10%;
    left: 0;
    background-color: var(--white-color-primary);
    border-radius: 4px;
    text-align: center;
    box-shadow: 0px 4px 18px rgba(165, 165, 165, 0.25);
    padding: 30px 10px;
}

.our-product__card-title {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.our-product__card-divider {
    border-bottom: 1px solid var(--black-color);
    margin: 0 auto;
    width: 30%;
}

.our-product__card-img {
    width: 57px;
    height: 57px;
    border-radius: 100%;
    background:  rgba(1, 153, 109, 0.2) url('/images/product_woman.png') top 30% center/125% no-repeat;
    margin: 12px auto;
}

.our-product__card-name {
    font-size: 12px;
    margin-bottom: 20px;
}

.our-product__card-subtitle {
    color: var(--black-color);
    font-family: 'Georgia Bold';
    font-size: 16px;
    line-height: 1.5;
}

.our-product__list {
    list-style: disc;
    margin-left: 60px;
}

.our-product__list-item {
    color: var(--black-color);
    font-size: 10px;
    line-height: 1.5; 
    text-align: left;
    position: relative;
    margin-top: 16px;
}   

/* NOTE: style commented below is the second variant of list style */
/* .our-product__list-item:before {
    content: '';
    width: 5px;
    height: 5px;
    background-color: var(--black-color);
    border-radius: 100%;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    position: absolute;
} */

.our-product__text {
    width: 50%;
}

.our-product__text-title {
    margin-bottom: 20px;
}

.our-product__text-descr {
    color: var(--grey-color-dark);
    line-height: 31px;
    margin-bottom: 40px;
}